<%- include('header') %>
<h2>About page</h2>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatum nemo, tenetur recusandae labore in at, eius
modi ullam aut explicabo numquam consequatur laudantium distinctio quidem blanditiis iure. Dolorum ducimus quos,
adipisci hic quas rerum eaque non sit sequi totam. Similique nulla mollitia provident laborum beatae sed quis fugiat
amet expedita deserunt vero accusamus reiciendis quam, eligendi modi, autem id ullam voluptates, non ea dolores quos!
Expedita culpa placeat, praesentium, pariatur quasi esse ullam similique quisquam nulla modi a alias nostrum aliquam
qui. Consequatur temporibus voluptatem quo reprehenderit, nisi ipsum unde ullam quas ut voluptatibus inventore eum
debitis deleniti? Facilis quas nemo laudantium recusandae laborum quasi, esse cum deserunt a autem corporis nobis ut
cupiditate iste fugit dolorum dignissimos sequi pariatur? Libero aspernatur facilis veniam, enim, alias fugiat modi
quidem fuga sed dicta possimus necessitatibus consequuntur aperiam consectetur hic omnis deserunt! Porro dignissimos
illum iure, hic sequi nulla. Reiciendis, voluptatem.
<%- include('footer') %>